Labo/Labo03/template-vsc/build
Labo/Labo03/template-vsc/src
Labo/Labo04/template-alumnos/build
Labo/Labo04/template-alumnos/.idea/
Labo/Labo04/template-alumnos/cmake-build-debug/
Labo/Labo05/template-alumnos-l05/build/
Labo/Labo6/template-alumnos/build/
Labo/Labo6/template-alumnos/lib/
Labo/Labo07/template_alumnos/build/
Labo/Labo07/template_alumnos/lib/
Labo/Labo08/template_alumnos/build/
Labo/Labo08/template_alumnos/lib/
