Labo/Labo03/template-vsc/build
Labo/Labo03/template-vsc/src
Labo/Labo04/template-alumnos/build
Labo/Labo04/template-alumnos/.idea/
Labo/Labo04/template-alumnos/cmake-build-debug/
Labo/Labo05/template-alumnos-l05/build/